---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <div class="publication-entry">
        {% if post.image %}
          <!-- Render the image if provided -->
          <img src="{{ post.image }}" alt="{{ post.title }}" style="float: left; margin-right: 15px; max-width: 150px;">
        {% endif %}
        <!-- Render the text -->
        {% include archive-single.html %}
        <div style="clear: both;"></div> <!-- Ensures layout consistency -->
      </div>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div class="publication-entry">
      {% if post.image %}
        <!-- Render the image if provided -->
        <img src="{{ post.image }}" alt="{{ post.title }}" style="float: left; margin-right: 15px; max-width: 150px;">
      {% endif %}
      <!-- Render the text -->
      {% include archive-single.html %}
      <div style="clear: both;"></div> <!-- Ensures layout consistency -->
    </div>
  {% endfor %}
{% endif %}




